<div class='container text-center'>
	<div class="main">
		<h1>Academic Rank  <a href="/"><i class="fas fa-user-graduate"></i></a></h1> 
		<p>Ranking by student's average score</p>
	</div>

<div class="text-center">
	<div class="btn-toolbar mb-1" role="toolbar" aria-label="Choose ranking" >	
		<div class="text-center rank-by-text" >	Rank by:	</div>  	
		<div class="btn-group mr-1" role="group" >
			<button type="button" class="btn btn-default"> 
				<%= link_to "University" , {action: "index", controller: "rank"}, :method => :get %> 
			</button>
			<button type="button" class="btn btn-default">  
				<%= link_to "Course" , {action: "by_courses", controller: "courses"}, :method => :get %> 
			</button>
			<button type="button" class="btn btn-default"> 
				<%= link_to "Student's Score" , {action: "by_students", controller: "courses"}, :method => :get %> 
			</button>    
		</div>
	</div>
</div>

	<br><br>
	<table class="table table-hover">
		<tr>
			<th class="text-left">Course Name</th>
			<th class="text-center">University</th>			
			<th class="text-right">Student's Score</th>
		</tr>
		<% @courses.each do |course| %> 
		<tr class="clickable" onclick="window.location='/courses/'+<%=course.id%>;"> 
		  <td class="uni-name text-left"> <%= course.name %></td> 
		  <td class="text-center"> <%= University.find(course.universities_id).name %></td>		  
		  <td class="uni-score text-right"><%= course.students_score %></td> 
		</tr> 
		<% end %>		
	</table>
	<br><br>
	<div><%= button_to "Add Course", {action: "new", controller: "courses" }, :method => :get, class: "btn"%>	
	</div>
	
</div>

