<div class="main">
  <div class="container">
    <h1>Academic Rank  <a href="/"><i class="fas fa-user-graduate"></i></a></h1> 
    <p>Showing information about:</p>
  </div>
</div>
<br>


<div class="info_university container ">
  <h2 class="title"><%= @university.name%></h2>
  <%= form_for(@university) do |f| %>
    <table class="table">
      <tr>
        <td class="text-center"><%= f.label :name %></td>
        <td class="text-left line-input"> <%= f.text_field :name%></td>
      </tr>
      <tr>
        <td class="text-center"><%= f.label :final_score %></td>
        <td class="text-left line-input"><%= f.text_field :final_score %></td>
      </tr>
    </table>    
    <div class="actions">
      <%= f.submit "Save Editions", class:"btn" %>
    </div>
  <%end%> 
</div>

